.top {
	padding: 0 100px 60px 100px;
	min-height: 60vh;
}

.headband {
	width: 100%;
	height: 220px;
	margin-bottom: 60px;
	margin-top: 60px;
	border-radius: 25px;
	background: $pink;
	background-size: cover;
	background-position: center;

	display: flex;
	justify-content: center;
	align-items: center;

	position: relative;
	overflow: hidden;
	cursor: default;

	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.3);
		z-index: 1;
	}

	&__title {
		display: flex;
		font-size: 48px;
		font-weight: 700;
		color: white;
		justify-content: center;
		z-index: 2;
	}
}

.card {
	width: 340px;
	height: 340px;
	background-color: $pink;
	box-shadow: 0 2px 25px 15px rgba(0, 0, 0, 0.05);
	border-radius: 10px;
	padding: 25px 25px 30px 25px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	transition: 0.2s;

	&:hover {
		transform: scale(1.03);
	}

	&__container {
		display: flex;
		flex-direction: row;
		// justify-content: space-around;
		flex-wrap: wrap;
		gap: 50px;
		padding: 60px;
		background: #f6f6f6;
		border-radius: 25px;

		& a {
			text-decoration: none;
		}
	}

	&__title {
		margin: 0;
		display: flex;
		justify-content: flex-start;
		color: white;
		font-size: 18px;
		font-weight: 700;

		@media (max-width: 500px) {
			//dfghjkl
		}
	}
}

.error {
	color: $pink;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
	height: 100%;

	a {
		color: black;

		@media (max-width: 1px) {}
	}

	& h1 {
		font-size: 250px;
		font-weight: 700;
		margin: 0;
	}

	& h2 {
		font-size: 36px;
		margin: 0;
	}
}

.loader {
	display: block;
}

.carousel {
	&__container {
		width: 100%;
		height: 400px;
		background-color: rgba(0, 0, 0, 0.5);
		overflow: hidden;
		border-radius: 10px;
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 30px;
	}

	&__img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;

		&-number {
			z-index: 2;
			color: white;
			font-weight: bold;
			position: absolute;
			bottom: 20px;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	&__commands-left,
	&__commands-right {
		z-index: 2;
		color: white;
		font-family: Arial;
		font-size: 50px;
		font-weight: bold;
		cursor: pointer;
		transition: 0.15s;

		&:hover {
			transform: scale(1.1);
		}
	}
}

.tag {
	@include pinkBackground;

	padding: 7px 20px;
	display: inline-block;
	border-radius: 10px;
	color: white;
	font-weight: bold;

	&s__container {
		margin: 10px 0;
		display: flex;
		gap: 10px;
	}
}

.house {
	&Title {
		width: 100%;
		display: flex;
		justify-content: space-between;
		gap: 30px;
		margin: 20px 0 0 0;

		& h1 {
			margin: 0;
			color: $pink;
		}

		&__right {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
		}
	}

	&__collapsibles {
		display: flex;
		width: 100%;
		gap: 30px;
		margin-top: 50px;

		& .collapsible {
			width: calc(50% - 15px);
		}
	}
}

.host {
	&__container {
		display: flex;
		gap: 15px;
		justify-content: flex-end;
		align-items: center;
	}

	&__name {
		font-weight: bold;
		color: $pink;
	}

	&__avatar {
		width: 60px;
		height: 60px;
		border-radius: 30px;
		background-color: $pink;
		background-size: cover;
		background-position: center;
	}
}

.rating {
	display: flex;
	gap: 7px;
	margin-top: 15px;

	& img {
		width: 20px;
		height: 20px;

		&.grey {
			opacity: 0.5;
		}
	}
}

.collapsible {
	&__container-flex {
		display: flex;
		flex-direction: column;
		gap: 25px;

		& .collapsible {
			margin: 0 75px;
		}
	}

	&__header {
		@include pinkBackground;

		padding: 15px 25px;
		font-weight: 900;
		color: white;
		border-radius: 7px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;

		& .fa-chevron-down {
			cursor: pointer;
			transition: 0.3s;
		}

		&.active .fa-chevron-down {
			transform: rotate(180deg);
		}
	}

	&__content {
		height: 0;
		padding: 0 10px;
		opacity: 0;
		transition: 0.3s;

		&.active {
			padding: 15px 10px;
			height: unset;
			opacity: 1;
		}

		& ul {
			list-style: none;
			margin: 0;
			padding: 0;
			list-style-position: outside;
		}
	}
}